.ng-ui-drawer{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:1px;
    display:block;
    z-index:10;
}
.ng-ui-drawer:not([right]) .ng-ui-drawer-content{
    left:0;
}
.ng-ui-drawer[right] .ng-ui-drawer-content{
    right:0;
}
.ng-ui-drawer[docked]{
    width:100%;
    
    /* customizável */
    background:rgba(0, 0, 0, 0.5);
}
.ng-ui-drawer-content{
    position:absolute;
    top:0;
    height:100%;
    overflow:auto;
    box-shadow:rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    
    /* customizáveis */
    width:250px;
    background-color:#fff;
}

/* animações */
/* animação do fundo */
.ng-ui-drawer{
    opacity: 1;
    display: block;
    transition: opacity 200ms;
}
.ng-ui-drawer-hide{
    opacity:0;
}

/* animação do drawer */
.ng-ui-drawer-content{
    transition:transform 300ms;
    transform:translate3d(0, 0, 0);
}
.ng-ui-drawer-hide .ng-ui-drawer-content{
    transform:translate3d(-100%, 0, 0);
}

/* animação do drawer alinhado à direita*/
.ng-ui-drawer-hide[right] .ng-ui-drawer-content{
    transform:translate3d(100%, 0, 0);
}
